github:
  api_url: https://api.github.com
  username: <OPTIONAL>
  personal_access_token: <OPTIONAL>
  owner: unitedstates
  repo: congress-legislators
  branch: master
  code_file_regex: '^.*\.(scala|js|py|cs|java|rb)$'
svg:
  font_family: 'Source Code Pro'
  font_size: 1
  ratio: 0.6